#create .env file and add the following keys and values
HUGGINGFACEHUB_API_TOKEN = ""  #free 
GOOGLE_API_KEY = ""  #free
OPENAI_API_KEY = ""  #paid
ANTHROPIC_API_KEY="" #paid
GROQ_API_KEY="" #free
OPENROUTER_API_KEY="" #free